body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(sincerely-media-K5OLjMlPe4U-unsplash.jpg);
    background-size: cover;
    text-align: center;
    color:white;
    font-weight: bold;

}
.container{
    /* display: flex; */
    display: inline-block;
    justify-content: center;
}
h1{
    color:goldenrod;
}

#message-el{
    font-style: italic;
color:aliceblue;
}

.button-el{
    color: #016f32;
    width: 150px;
    background: goldenrod;
}