body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(sincerely-media-K5OLjMlPe4U-unsplash.jpg);
    color:white;
    font-weight: bold;
    /* filter: blur(10px); */
  /* -webkit-filter: blur(15px); */


}
.container{
    /* display: flex; */
    display: inline-block;
    justify-content: center;
}
h1{
    color:goldenrod;
}

#message-el{
color:aliceblue;
}